extends layouts/main-layout

block content
    form(method="post")
        .mb-3.row.align-items-center.justify-content-center
            label.col-sm-3.col-form-label(for='todo-name') New ToDo name
            .col-sm-9
                input#todo-name.form-control(type='text' name="name" required)
        .mb-3.row
            label.col-sm-3.col-form-label(for='todo-body') ToDo body
            .col-sm-9
                textarea#todo-body.form-control(type='text' name="body" autofocus)
        .mb-3.row
            button#submit-todo.btn.btn-primary.mb-3(type='submit') Add new ToDo

    .row
        P= jsData
        ul
            each val in data
                .card.my-2(data-id=val.id)
                    if val.done
                        .card-body.bg-secondary-done
                            +createCardContent(val)
                    else
                        .card-body
                            +createCardContent(val)