extends layouts/main-layout

block content
    form
        .mb-3.row.align-items-center.justify-content-center
            label.col-sm-3.col-form-label(for='todo-name') New ToDo name
            .col-sm-9
                input#todo-name.form-control(type='text')
        .mb-3.row
            label.col-sm-3.col-form-label(for='todo-body') ToDo body
            .col-sm-9
                textarea#todo-body.form-control(type='text' autofocus)
        .mb-3.row
                button.btn.btn-primary.mb-3(type='submit') Add new ToDo
