body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#todo-body {
  height: 150px;
  text-align: justify;
}

.bg-secondary-done {
  background: rgba(124, 124, 124, 0.24);
}